*
!app/
!app/**
!src/
!src/**
!dags/
!dags/**
!monitoring/
!monitoring/**
!docker/
!docker/**
!data/
!data/raw/
!data/raw/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/predictions/
!data/predictions/.gitkeep
!data/reference/
!data/reference/.gitkeep
!requirements.txt
!docker-compose.yml
!.env.example
!README.md
__pycache__/
*.pyc
.pytest_cache/
mlruns/
logs/
